<p id="notice"><%= notice %></p>

<h1>Novelties</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @novelties.each do |novelty| %>
      <tr>
        <td><%= novelty.text %></td>
        <td><%= novelty.title %></td>
        <td><%= link_to 'Show', novelty %></td>
        <td><%= link_to 'Edit', edit_novelty_path(novelty) %></td>
        <td><%= link_to 'Destroy', novelty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Novelty', new_novelty_path %>
